@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
@import "tailwindcss";

*{
	font-family:  "Anek Bangla", sans-serif !important;
}

@theme {
  --font-display:   "Anek Bangla", sans-serif;
  --breakpoint-3xl: 120rem;
  --color-primary-300: #DA0F0E;
  --color-primary-200: #AF181C;
	--color-primary-100: #7A1B22;
	--color-secondary-300: #EDDBDB;
	--color-secondary-200: #E3C7C7;
	--color-secondary-100: #D9B3B3;
	--color-netural-300: #F7F7F7;
	--color-netural-200: #F3EEEE;
	--color-netural-100: #D9D9D9;

}

h1 {
  @apply text-6xl md:text-5xl sm:text-4xl;
}

h2 {
  @apply text-4xl md:text-3xl sm:text-2xl;
}
h3 {
  @apply text-3xl md:text-2xl sm:text-xl;
}

h4 {
  @apply text-2xl md:text-xl sm:text-lg;
}

h5, label {
  @apply text-lg md:text-base sm:text-sm;
}
p {
  @apply text-base md:text-sm sm:text-xs;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px --color-primary-100; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DA0F0E; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7A1B22; 
}